body {
	background-color: #F1F1F1;
	font-family: 'Droid Sans', sans-serif !important;
	height: 100%; margin: 0px; padding: 0px;
}

#header {
	color: #FFFFFF;
	background-color: #333333;
	border-top 1px solid #F1F1F1;
	padding: 7px;
}

#header a {
	color: #dddddd;
	text-shadow: 0px 1px 1px #666;
}

#header h1 {
	margin: 10px 0 5px 10px;
	width: 200px;
}

#welcome {
	font-size: 11px;
	padding-left: 2px;
	color: #FF9900;
	/*
	position: relative;
	left: 125px;
	top: -15px;
	*/
	margin: 5px 0 0 10px;
}

#container, #main, html {
	height: 100%;
}

#map-canvas {
	height: 100%;
}

/* login, register, and admin links */
#useraccess {
	position: absolute;
	top: 15px;
	font-size: 0.9em;
	right: 50px;
}

#useraccess a:hover {
	color: #FF9900;
}

#log-display {
	position: absolute;
	right: 125px;
	width: 250px;
	top: 20px;
	overflow: auto;
	text-align: center;
}

.log-display-rules {
	font-size: 0.8em;
	padding: 5px;
	background: #356aa0;
	background: -moz-linear-gradient(top, #356aa0 0%, #356aa0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#356aa0), color-stop(100%,#356aa0));
	background: -webkit-linear-gradient(top, #356aa0 0%,#356aa0 100%);
	background: -o-linear-gradient(top, #356aa0 0%,#356aa0 100%);
	background: -ms-linear-gradient(top, #356aa0 0%,#356aa0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0',GradientType=0 );
	background: linear-gradient(top, #356aa0 0%,#356aa0 100%);
}

#nav {
	float: left;
	width: 248px;
	border: 1px solid #DDDDDD;
	padding-bottom: 25px;
	background: #F5F5F5;
	/*
	overflow: auto;
	-webkit-box-shadow: 0px 0px 3px 0px #8a888a;
	-moz-box-shadow: 0px 0px 3px 0px #8a888a;
	box-shadow: 0px 0px 3px 0px #8a888a;
	*/
}
	
#geocode-container {
	height: 45px;
	color: #2e2e2e;
	/*border-left: 0px !important
	border-left: 1px solid #DDDDDD;*/
	text-shadow: 0px 1px 1px #ffffff;
}

#geocode-container span {
	margin-left: 10px;
}

#geocode-btn {
	margin-top: 5px;
	font-size: 0.9em;
}

.input-search {
	padding: 0.5em;
	margin: 0.5em;
	width: 30em;
}

/**
 * Toolbar
 */
.toolbar {
	/*
	left: 45px;
	position: relative;
	*/
	width: 200px;
	margin: 0 auto;
	font-size: 0.8em;
}

.toolbarheader {
	color: #666;
	text-shadow: 0px 1px 1px #ffffff;
	margin: 35px 0px 4px 0px;
	/*font-size: 0.9em;*/
	font-size: 11px;
	width: 120px;
}

#toolbar-useraccess {
	width: 200px;
	margin: 0 auto;
}

#toolbar-buttons button {
	margin: 2px 0px 2px 0px;
	width: 125px;
}

#toolbar-utilities button {
	margin: 2px 0px 2px 0px;
	width: 125px;
	float: left;
	clear: both;
}

#toolbar-destlist {
	height: 225px;
	width: 100%;
	overflow: auto;
}

#toolbar-destlist ul:hover {
	cursor: pointer;
}

#toolbar-destlist ul, #toolbar-destlist li {
	margin: 2px;
}

#toolbar-destlist ul li:first-child {
	font-weight: bold;
}

/*
#toolbar-findpath input {
	margin-left: 2px;
	width: 50%;
}

#end {
	margin-left: 8px !important;
}
*/

.field, .field input {
	font-size: 12px !important;
	width: 100%;
}

.field {
	margin-bottom: 4px;
}

#toolbar-findpath input[type="submit"] {
	font-size: 12px !important;
	height: 25px;
}

#toolbar-loading {
	display: none;
}

.pathlist {
}

.pathlist dt {
	font-weight: bold;
}

.pathlist dd {
	padding: 2px;
}
/* End Toolbar */

/**
 * Login
 */
.error {
	color: #FF0000;
}

.errorlist {
	color: #FF0000;
}

th { 
	text-align: right;
}
/* End login */

/**
 * Utilities
 */
.fleft {
	float: left;
}

.fright {
	float: right;
}

.shadow-left {
	-webkit-box-shadow: -2px 0px 4px 0px #8a888a;
	-moz-box-shadow: -2px 0px 4px 0px #8a888a;
	box-shadow: -2px 0px 4px 0px #8a888a;
}

.shadow-left2 {
	-webkit-box-shadow: -3px 3px 3px 0px #8a888a;
	-moz-box-shadow: -3px 3px 3px 0px #8a888a;
	box-shadow: -3px 3px 3px 0px #8a888a;
}

.notification {
	text-align: center;
	padding: 5px;
	margin: 10px 0 10px 0;
	font-size: 12px !important;
}

.labels {
	/*color: #2d2d2d;*/
	color: #FF9900;
	/*background-color: #efefef;*/
	background-color: #2d2d2d;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 2px;
	text-align: center;
}

.tourbox {
	border: 2px solid red;
}

.help {
	position: relative;
	top: -4px;
/*	margin-right: 55px;*/
}

/* End utilities */

/* jQuery UI Overrides */
.ui-button-text {
	font-size: 12px !important;
}

div.jGrowl-notification {
}
