{% extends 'base.html' %}

{% block title %}
	Development
{% endblock %}

{% block aside %}
	<div class="toolbar">
		<div id="toolbar-useraccess">
		{% if user.is_authenticated %}
			<button id="toolbar-logout">Logout</button>
		{% else %}
			<button id="toolbar-login">Login</button>
		{% endif %}
			<button id="toolbar-register">Register</button>
			<button id="toolbar-admin">Admin</button>
		</div>
		<div id="toolbar-buttons" class="toolbar">
		{% if user.is_authenticated %}
			<h5 class="toolbarheader">Map Utilities</h5>
			<button id="toolbar-clear">Clear Map</button>
	
			<h5 class="toolbarheader">Destinations</h5>
			<div id="toolbar-destlist">
			</div>

			{% include 'findpathform.html' %}
		{% else %}
			<p class="notification">Log in to get started</p>
		{% endif %}
		</div>
	</div>
{% endblock aside %}

{% block main-content %}
	<div id='geocode-container' class='ui-widget-header'>
		<span>Look up a location:</span>
		<input id='geocode-address' class='input-search' type='textbox' onkeydown='if (event.keyCode == 13) $("#geocode-btn").click()'>
		<button id='geocode-btn'>Go</button>
	</div>
	<div id='map-canvas' class='ui-helper-clearfix'></div>
{% endblock %}
