{% extends 'base.html' %}

{% block title %}
	Development
{% endblock %}

{% block header %}
{% endblock %}

{% block aside %}
	<header id="header">
	<h1>
		<a href="#">Wayfinder</a>
	</h1>
	{% comment %}
	{% if user.is_authenticated %}
		<span id="welcome" class="ui-helper-clearfix">Logged in as <span style="font-style:italic">{{ user.username }}<span></span>
	{% endif %}
	{% endcomment %}
	</header>
	<div class="toolbar">
		<div id="toolbar-useraccess">
		{% if user.is_authenticated %}
			<button id="toolbar-logout">Logout</button>
		{% else %}
			<button id="toolbar-login">Login</button>
		{% endif %}
			<button id="toolbar-register">Register</button>
			<button id="toolbar-admin">Admin</button>
		</div>
		<div id="toolbar-buttons" class="toolbar">
		{% if user.is_authenticated %}
			<h5 class="toolbarheader">Map Utilities<span class="fright help ui-icon ui-icon-help"></span></h5>
			<button id="toolbar-clear">Clear Map</button>
			<div class="toolbar-checkbox">
				<input type="checkbox" id="toolbar-paths" /><label for="toolbar-paths">Hide Paths</label>
			</div>

			{% include 'findpathform.html' %}

			<!-- start jquery template -->
			<div id="toolbar-pathstatslist"></div>
			<script id="toolbar-pathstats" type="text/x-jquery-tmpl">
			<h5 class="toolbarheader">Test Path Stats</h5> 
				<dl class="pathlist">
					<dt>Time to calculate path:</dt>
						<dd>${timeToFind} seconds</dd>
					<dt>Total distance:</dt>
						<dd>${distance} miles</dd>
					<dt>Estimated walking time:</dt>
						<dd>${walkingTime} minutes</dd>
					<dt>Nodes traversed:</dt>
						<dd>${nodesCount}</dd>
				</dl>
			</script>
			<!-- end jquery template -->

			<h5 class="toolbarheader">Destinations<span class="fright help ui-icon ui-icon-help"></span></h5>
			<div id="toolbar-destlist">
			</div>

		{% else %}
			<p class="notification">Log in to get started</p>
		{% endif %}
		</div>
	</div>
{% endblock aside %}

{% block main-content %}
	<div id='geocode-container' class='ui-widget-header'>
		<span>Look up a location:</span>
		<input id='geocode-address' class='input-search' type='textbox' onkeydown='if (event.keyCode == 13) $("#geocode-btn").click()'>
		<button id='geocode-btn' class="tour_1">Go</button>
	</div>
	<div id='map-canvas' class='ui-helper-clearfix'></div>
{% endblock %}
