<h5 class="toolbarheader">Test Path Finding<span class="fright help ui-icon ui-icon-help"></span></h5>
{% if form.errors %}
	<p style="color: red;">
		Please correct the error{{ form.errors|pluralize }} below.
	</p>
{% endif %}


<button id="toolbar-startpoint">Place Start</button>
<form action="" id="toolbar-findpath" method="post">
	<div class="field">
		<label for="id_start">Start:</label>
		<input type="text" name="start" maxlength="100" id="start" />
	</div>
	<div class="field">
		<label for="id_stop">End:</label>
		<input type="text" name="end" maxlength="100" id="end" />
	</div>
	<input type="submit" id="toolbar-run" value="Run" />
	<span></span>
	<div id="toolbar-loading" class="fright">
	    <img src="/static/images/ajax-loader.gif" alt="Loading animation" />
	</div>
</form>
